/* RESET */
* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.mobile-header {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: black;
  z-index: 1000;
  align-items: center;
  padding-left: 20px;
}
/*RESPONSIVE*/
.mobile-header button {
  background: none;
  border: none;
  color: white;
  font-size: 28px;
  cursor: pointer;
}

@media (max-width: 768px) {

  .mobile-header {
    display: flex;
  }

  .sidebar {
    width: 100%;
    height: 100vh;
    left: -100%;
    right: auto;
    transition: left 0.3s ease;
  }

  .sidebar.open {
    left: 0;
  }

  .main {
    width: 100%;
    margin-right: 0;
    padding-top: 60px;
  }

}

/* BODY INFO GENERAL*/
body {
  font-family: monospace;
  background: #09090B;
  color: #F6F6F6;
  display: flex;
}

/* SIDEBAR */
.sidebar {
  width: 25%;
  height: 100vh;
  background: #09090B;
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.slot {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  cursor: pointer;
}

.slot a {
  text-decoration: none;
  color: #F6F6F6;
  width: 100%;
  display: block;
  text-align: center;
}

.slot a:hover,
.slot.tab:hover {
  color: #DBAEBB; /* Azul */
}

.divider {
  width: 80%;
  height: 2px;
  background: #384B71;
  margin: 4px 0;
}

.logo-slot img {
  width: 30%;
  cursor: pointer;
  margin-bottom: 30px;

  opacity: 0;                 /* Inicialmente invisible */
  transform: translateY(-10px); /* Levantado un poco */
  transition: opacity 0.4s ease, transform 0.4s ease; /* Transición suave */
}

.logo-visible {
  opacity: 1;                  /* Se hace visible */
  transform: translateY(0);    /* Se mueve a la posición final */
}

.music-slot button {
  background: none;
  border: none;
  color: white;
  font-size: 15px;
  cursor: pointer;
  font-family: inherit;

}

.music-slot button:hover {
  color: #DBAEBB;
}

.tab.active {
  color: #384B71 !important; /* Rosa al activarse */
}

.footer-slot {
  display: flex;            /* Para ponerlos en fila */
  flex-direction: column;   /* Cambia a row si quieres en línea */
  align-items: center;
  gap: 10px;                /* Espacio entre cada item */
  margin-top: auto;
  text-align: center;
  font-size: 12px;
}

.footer-slot .footer-item a,
.footer-slot .footer-item .tab {
  color: #F6F6F6;
  text-decoration: none;
  cursor: pointer;
}

.footer-slot .footer-item a:hover,
.footer-slot .footer-item .tab:hover {
  color: #DBAEBB; /* tu rosa */
}

/* MAIN CONTENT */
.main {
  width: 75%;
  margin-right: 25%;
  height: 100vh;
 
}

/* HERO */
.hero {
  height: 95vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#384B71, #09090B);
  text-align: center;
}

.logo-gif {
  width: 200px;
  margin-bottom: 50px;
}

/* PROJECTS */
.projects {
  background:#09090B;
  padding: 50px 0;
  display:flex;
  flex-direction:column;
  align-items:center;
  gap: 50px;
  width:100%;
}

.projects img {
  width: 75%;
  cursor:pointer;
  display:block;
  margin:auto;
  transition:0.3s;

  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.projects img.show {
  opacity: 1;
  transform: translateY(0);
}

.projects img:hover {
  transform: scale(1.03);
}

/* SPA */
.page { display: none; }
.page.active { display: block; }